<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
I can be reached at <a href="mailto:douglasleer@gmail.com">douglasleer@gmail.com</a>. 
Here is my homepage: <a href="http://daweilihomepage.weebly.com/">http://daweilihomepage.weebly.com/</a>.
</p>