<% provide(:title, "Help") %>



<h1>Help</h1>

<%= render 'shared/help_info' %>

<p>
  Check the amazing <a href="http://www.railstutorial.org/book">book</a> about how this application is built. 
  It is free! Besides, all the tools and platforms, such as <a href="https://bitbucket.org/">BitBucket</a>,
  <a href="https://c9.io/">Cloud9 IDE</a> and <a href="https://www.heroku.com/">Heroku Platform</a> are also free!
  You just need to register some free accounts.
</p>

<p>
  For more information on Ruby on Rails, go to <a href="http://rubyonrails.org/">http://rubyonrails.org/</a>.
</p>
