<% if logged_in? %>
<div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      <%= render 'shared/user_info' %> 
      </section>
      
      <section class="stats">
      <%= render 'shared/stats' %> 
      </section>
      
      <section class="micropost_form">
      <%= render 'shared/micropost_form' %> 
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %> 
    </div>

</div>


<% else %>
  <div class="center jumbotron">
  
  <h1>Welcome to MiniPost</h1>
  <p align="left">
      This is a demo application created by <a href="http://daweilihomepage.weebly.com/">Dawei Li</a> by following
      the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      (by <a href="http://www.michaelhartl.com/">Michael Hartl</a>). This application is similar to Twitter; it allows
      users to post their stories using less than or equal to 140 characters, and follow/unfollow other users.
  </p>
  
  <p align="left">There isn't too much you can see if you don't log in. So you can either <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %>.</p>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
  <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
  
  </div>
  
  <%= render 'shared/help_info' %>

Powered by: <br>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<% end %>