<ul>
  <li align="left"> email: <b>admin@abc.org</b>, password: <b>example</b> 
  (this is the administrator user with more power; this user's name is <b>"Example Admin"</b>)</li>
  <li align="left"> email: <b>user@abc.org</b>, password: <b>example</b> 
  (this is a normal user; this user's name is <b>"Example User"</b>)</li>
</ul>