  <div style="text-align: left;font-size: 12pt;">
    <p align="left">
      <ol>
        <li align="left">
          If you want to sign up, use an email address with correct format (no need to use a real email address), and a password with at least 6 characters; because I check that!
        </li>
        <li align="left">
          If you do not want to sign up, you can log in using the following existing users:
          <%= render 'shared/help_info_existing_user' %>
        </li>
      </ol>
    </p>
  </div>