<footer class="footer">
  <small>
    A demo application created by <a href="http://daweilihomepage.weebly.com/">Dawei Li</a> by following
    the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    (by <a href="http://www.michaelhartl.com/">Michael Hartl</a>).
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.google.com/">News</a></li>
    </ul>
  </nav>
</footer>